.MemoryCard{
    display: inline-block;
    width: 300px;
    height: 150px;
    margin: 3px;
    border-radius: 5px;
    border: 3px solid #193D49;
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
);
    cursor: pointer;

} 

.dcImg{
    margin-top: 40px;
    width: 80px;
}